<footer>
            <div class="row">
                <div class="col-lg-12 footer">

       <p class="h3">LUGFI</p>

      <p>Grupo de usuarios y desarrolladores de software libre y abierto de la Facultad de Ingeniería de la UBA </p>
      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0; width:150px" src="{{ '/images/license-by-sa.png' | prepend: site.baseurl }}" /></a>
      </div>

			   
			   
			 <!--  &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. Publicado bajo licencia GNU General Public License v3.0 <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><img src="{{ "images/company_logo.png" }}" alt="LUGFi"/></p>-->
                </div>
            </div>
</footer>
