<footer>
            <div class="row">
                <div class="col-lg-12 footer">

      <h3>{{ site.title }}</h3>

      <p>{{ site.description }}</p>

      <ul class="social-media">
        <li>
          <a title="{{ site.title }} en Github" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </li>

        <li>
          <a title="{{ site.title }} en Facebook" href="https://facebook.com/groups/lugfi" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>

        <li>
          <a title="{{ site.title }} en Telegram" href="https://telegram.me/joinchat/AHsQQT-zSbFrpCbq09ojpw" target="_blank"><i class="fa fa-telegram fa-2x"></i></a>
        </li>

        <li>
          <a title="Site LUGFi" RSS" href="https://lugfi.github.io/" target="_blank"><i class="fas fa-home fa-2x"></i></a>
        </li>
      </ul>

      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0; width:150px" src="{{ '/images/license-by-sa.png' | prepend: site.baseurl }}" /></a>
      </div>

			   
			   
			 <!--  &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. Publicado bajo licencia GNU General Public License v3.0 <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><img src="{{ "images/company_logo.png" }}" alt="LUGFi"/></p>-->
                </div>
            </div>
</footer>
